asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.11
django-cors-headers==4.3.1
django-mysql==4.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
inflection==0.5.1
mysqlclient==2.2.4
packaging==23.2
pillow==10.2.0
PyJWT==2.8.0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.4.4
typing-extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
